body{
    background-image: url("images/bridge-clouds-cloudy-555868.jpg");
   /* nomi gogo, on pexels.com */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.jumbotron{
    margin-bottom: -2rem;
    background-color: rgb(216, 158, 81);
}
h1{
    font-family: 'Signika', sans-serif;
}
tr{
    font-family: 'Signika', sans-serif;
    text-align: center;
}
label{
    font-family: 'Signika', sans-serif;
}